engine-strict=true
package-manager-strict=true
package-manager-strict-version=true
manage-package-manager-versions=true
verify-store-integrity=true
strict-store-pkg-content-check=true
save-exact=false
